@charset "UTF-8";
.weshop_btn {
  width: 170px;
  height: 50px;
  background-color: #48689a;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  outline: none !important;
  transition: 0.3s;
  border: 2px solid #48689a;
}
.weshop_btn:hover {
  background-color: transparent;
  color: #48689a;
  border: 2px solid #48689a;
  transition: 0.3s;
}

.button {
  border: 2px solid #48689a;
  width: 166px;
  height: 46px;
  margin: 0 auto;
  background-color: transparent;
  color: #48689a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
.button:hover {
  background-color: #48689a;
  color: #ffffff;
  transition: 0.3s;
}

.arrow {
  position: relative;
}
.arrow span {
  width: 35px;
  height: 3px;
  background-color: #48689a;
  display: block;
  position: absolute;
}
.arrow span:first-child {
  width: 20px;
  transform: rotate(45deg);
  top: -6px;
  left: 19px;
}
.arrow span:last-child {
  width: 20px;
  transform: rotate(-45deg);
  top: 6px;
  left: 19px;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #9aa6b9;
  margin: 12px 0 25px 0;
}

body {
  font-family: "Roboto Slab", serif;
}
body header .heading {
  background-color: #48689a;
}
body header .subnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #eeeeee;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 12px;
  flex-wrap: wrap;
}
body header .subnav .contact_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 998px) {
  body header .subnav .contact_info {
    width: 100%;
    justify-content: space-between;
  }
}
body header .subnav .header_form {
  margin: 0 30px 0 30px;
  position: relative;
}
@media screen and (max-width: 998px) {
  body header .subnav .header_form {
    width: 100%;
  }
}
body header .subnav .header_form input {
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
}
@media screen and (max-width: 998px) {
  body header .subnav .header_form input {
    width: 100%;
  }
}
body header .subnav .header_form ::placeholder {
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: 300;
}
body header .subnav .header_form button {
  background-color: transparent;
  color: #9aa6b9;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}
body header .subnav .subnav_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
@media screen and (max-width: 998px) {
  body header .subnav .subnav_ul {
    width: 100%;
  }
}
body header .subnav .subnav_ul li a {
  color: #eeeeee;
}
body header .subnav .subnav_ul li .dropdown-item:hover {
  background-color: #00cdc6;
}
body header .subnav .btn_sabnav {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: 300;
  padding: 0 20px;
  outline: none;
}
body header .navbar .logo {
  width: 157px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #00cdc6;
  text-decoration: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
body header .navbar .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  color: #00cdc6;
  text-decoration: none;
}
body header .navbar .basket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 998px) {
  body header .navbar .basket {
    display: none;
  }
}
body header .navbar .basket .dropdown-menu {
  left: -200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}
body header .navbar .basket .dropdown-menu p {
  margin: 0 10px;
}
body header .navbar .basket .dropdown-menu span {
  color: #48689a;
}
body header .navbar .basket .dropdown-menu .close {
  border: none;
  outline: none;
  background-color: transparent;
}
body header .navbar .basket .dropdown-menu button {
  width: 80%;
  margin: 5px 25px;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #48689a;
  background-color: #ffffff;
  border: 2px solid #48689a;
  transition: 0.3s;
}
body header .navbar .basket .dropdown-menu button:hover {
  background-color: #48689a;
  color: #ffffff;
  transition: 0.3s;
}
body header .navbar .basket .circle {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
}
body header .navbar .basket .quantity {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: -6px;
  right: -4px;
}
body header .navbar .basket span {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}
body header .navbar .dropdown_container a {
  font-family: "Roboto Slab", serif;
}
body header .navbar .dropdown_container i {
  font-size: 10px;
}
body header .navbar .dropdown_container .dropdown_menu {
  display: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  z-index: 2;
}
body header .navbar .dropdown_container:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 100px;
}
@media screen and (max-width: 998px) {
  body header .navbar .dropdown_container:hover .dropdown_menu {
    position: static;
    display: none;
  }
}
body header .navbar .dropdown_container:hover ul {
  padding: 10px;
}
body header .navbar .dropdown_container:hover ul li {
  list-style: none;
}
body header .navbar .dropdown_container:hover ul li a {
  color: #3c4852;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  line-height: 28px;
  transition: 0.3s;
}
body header .navbar .dropdown_container:hover ul li a:hover {
  color: #00cdc6;
  transition: 0.3s;
}
body header .navbar .dropdown_container:hover ul h5 {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
body header .navbar .dropdown_container img {
  display: block;
  position: relative;
}
body header .navbar .dropdown_container span {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  color: #48689a;
  top: 55px;
  left: 30px;
}
body header .navbar .dropdown_container .line {
  width: 96px;
  height: 2px;
  background-color: #48689a;
  position: absolute;
}
body header .navbar .dropdown_container .line:first-of-type {
  top: 90px;
  left: 32px;
}
body header .navbar .dropdown_container .line:last-of-type {
  width: 60px;
  top: 99px;
  left: 32px;
}
body header .title_header {
  width: 100%;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 992px) {
  body header .title_header {
    text-align: center;
  }
}
body header .title_header h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  body header .title_header h1 {
    font-size: 40px;
  }
}
body header .title_header h3 {
  font-size: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  body header .title_header h3 {
    font-size: 30px;
  }
}
body header .title_header h3 span {
  color: #48689a;
}
@media screen and (max-width: 992px) {
  body header .title_header .control {
    display: none;
  }
}
body header .title_header .carousel-control-next {
  right: -70px !important;
  opacity: 0;
}
body header .title_header .carousel-control-prev {
  left: -70px !important;
  opacity: 0;
}
body .collection, body .product_gallery .featured, body .blog_list .featured, .product_gallery body .featured, .blog_list body .featured, body .latest_news, body .coming_soon, body .featured {
  width: 100%;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
}
body .collection .wrapper, body .latest_news .wrapper, body .coming_soon .wrapper, body .featured .wrapper {
  width: 100%;
}
body .collection .wrapper .offer, body .latest_news .wrapper .offer, body .coming_soon .wrapper .offer, body .featured .wrapper .offer {
  border: 5px solid #eeeeee;
  padding: 12px 25px;
  margin: 10px 20px;
}
body .collection .wrapper .offer .link, body .latest_news .wrapper .offer .link, body .coming_soon .wrapper .offer .link, body .featured .wrapper .offer .link {
  border: 5px solid transparent;
  padding: 10px;
}
body .collection .wrapper .offer .link:hover, body .latest_news .wrapper .offer .link:hover, body .coming_soon .wrapper .offer .link:hover, body .featured .wrapper .offer .link:hover {
  border: 5px solid #48689a;
}
body .collection .wrapper .offer h5, body .latest_news .wrapper .offer h5, body .coming_soon .wrapper .offer h5, body .featured .wrapper .offer h5 {
  font-size: 24px;
  font-weight: 800;
}
body .collection .wrapper .offer h4, body .latest_news .wrapper .offer h4, body .coming_soon .wrapper .offer h4, body .featured .wrapper .offer h4 {
  font-size: 37px;
  color: #48689a;
  font-weight: 800;
}
@media screen and (max-width: 576px) {
  body .collection .wrapper .offer h4, body .latest_news .wrapper .offer h4, body .coming_soon .wrapper .offer h4, body .featured .wrapper .offer h4 {
    font-size: 30px;
  }
}
body .collection .wrapper .offer p, body .latest_news .wrapper .offer p, body .coming_soon .wrapper .offer p, body .featured .wrapper .offer p {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
body .collection .wrapper .offer p span, body .latest_news .wrapper .offer p span, body .coming_soon .wrapper .offer p span, body .featured .wrapper .offer p span {
  color: #48689a;
}
body .collection .wrapper .offer a, body .latest_news .wrapper .offer a, body .coming_soon .wrapper .offer a, body .featured .wrapper .offer a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
body .collection .wrapper .offer a:hover, body .latest_news .wrapper .offer a:hover, body .coming_soon .wrapper .offer a:hover, body .featured .wrapper .offer a:hover {
  color: #48689a;
  transition: 0.3s;
}
body .service {
  width: 100%;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
}
body .service h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
body .service p {
  font-size: 14px;
  line-height: 30px;
}
body .lifestyle, body .product_gallery, body .blog_list, body .newsletter, body .top_categories, body .collection, body .product_gallery .featured, body .blog_list .featured, .product_gallery body .featured, .blog_list body .featured, body .latest_news, body .coming_soon, body .featured {
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
}
body .lifestyle .mensLifestyle, body .product_gallery .mensLifestyle, body .blog_list .mensLifestyle, body .newsletter .mensLifestyle, body .top_categories .mensLifestyle, body .collection .mensLifestyle, body .latest_news .mensLifestyle, body .coming_soon .mensLifestyle, body .featured .mensLifestyle {
  width: 300px;
  height: 420px;
  border: 4px solid #48689a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .lifestyle .mensLifestyle h5, body .product_gallery .mensLifestyle h5, body .blog_list .mensLifestyle h5, body .newsletter .mensLifestyle h5, body .top_categories .mensLifestyle h5, body .collection .mensLifestyle h5, body .latest_news .mensLifestyle h5, body .coming_soon .mensLifestyle h5, body .featured .mensLifestyle h5 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
body .lifestyle .new, body .product_gallery .new, body .blog_list .new, body .newsletter .new, body .top_categories .new, body .collection .new, body .latest_news .new, body .coming_soon .new, body .featured .new {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: 40px;
  bottom: 180px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #48689a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
body .collection .navbar .navbar-brand, body .latest_news .navbar .navbar-brand, body .coming_soon .navbar .navbar-brand, body .featured .navbar .navbar-brand {
  color: #15232d;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
body .collection .navbar .navbar-nav .nav-link, body .latest_news .navbar .navbar-nav .nav-link, body .coming_soon .navbar .navbar-nav .nav-link, body .featured .navbar .navbar-nav .nav-link {
  color: #15232d;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
}
body .collection .navbar .navbar-nav .nav-link:hover, body .latest_news .navbar .navbar-nav .nav-link:hover, body .coming_soon .navbar .navbar-nav .nav-link:hover, body .featured .navbar .navbar-nav .nav-link:hover {
  color: #48689a;
  transition: 0.3s;
}
body .collection .grid-container, body .latest_news .grid-container, body .coming_soon .grid-container, body .featured .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two three four" "five six seven eight";
  grid-gap: 10px;
}
@media screen and (max-width: 998px) {
  body .collection .grid-container, body .latest_news .grid-container, body .coming_soon .grid-container, body .featured .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one two" "three four" "five six" "seven eight";
  }
}
@media screen and (max-width: 576px) {
  body .collection .grid-container, body .latest_news .grid-container, body .coming_soon .grid-container, body .featured .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight";
  }
}
body .collection .grid-container .galery, body .latest_news .grid-container .galery, body .coming_soon .grid-container .galery, body .featured .grid-container .galery {
  background-image: url(img/collection_img.jpg);
  height: 340px;
  position: relative;
}
body .collection .grid-container .one, body .latest_news .grid-container .one, body .coming_soon .grid-container .one, body .featured .grid-container .one {
  grid-area: one;
}
body .collection .grid-container .two, body .latest_news .grid-container .two, body .coming_soon .grid-container .two, body .featured .grid-container .two {
  grid-area: two;
}
body .collection .grid-container .five, body .latest_news .grid-container .five, body .coming_soon .grid-container .five, body .featured .grid-container .five {
  grid-area: five;
}
body .collection .grid-container .six, body .latest_news .grid-container .six, body .coming_soon .grid-container .six, body .featured .grid-container .six {
  grid-area: six;
}
body .collection .grid-container .seven, body .latest_news .grid-container .seven, body .coming_soon .grid-container .seven, body .featured .grid-container .seven {
  grid-area: seven;
}
body .collection .grid-container .four, body .latest_news .grid-container .four, body .coming_soon .grid-container .four, body .featured .grid-container .four {
  grid-area: four;
}
body .collection .grid-container .eight, body .latest_news .grid-container .eight, body .coming_soon .grid-container .eight, body .featured .grid-container .eight {
  grid-area: eight;
}
body .collection .grid-container .three, body .latest_news .grid-container .three, body .coming_soon .grid-container .three, body .featured .grid-container .three {
  grid-area: three;
}
body .collection .grid-container img, body .latest_news .grid-container img, body .coming_soon .grid-container img, body .featured .grid-container img {
  position: absolute;
  right: -1px;
  bottom: 30px;
}
body .collection .grid-container img:nth-child(2), body .latest_news .grid-container img:nth-child(2), body .coming_soon .grid-container img:nth-child(2), body .featured .grid-container img:nth-child(2) {
  right: -2px;
  bottom: 80px;
}
body .collection .grid-container img:nth-child(3), body .latest_news .grid-container img:nth-child(3), body .coming_soon .grid-container img:nth-child(3), body .featured .grid-container img:nth-child(3) {
  right: -1px;
  bottom: 130px;
}
body .collection .grid-container img:last-child, body .latest_news .grid-container img:last-child, body .coming_soon .grid-container img:last-child, body .featured .grid-container img:last-child {
  right: -1px;
  bottom: 30px;
}
body .collection .grid-container .grid_hover, body .latest_news .grid-container .grid_hover, body .coming_soon .grid-container .grid_hover, body .featured .grid-container .grid_hover {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
body .collection .grid-container .grid_hover:hover, body .latest_news .grid-container .grid_hover:hover, body .coming_soon .grid-container .grid_hover:hover, body .featured .grid-container .grid_hover:hover {
  opacity: 1;
  transition: 0.3s;
}
body .collection .grid-container .grid_hover .priсe, body .latest_news .grid-container .grid_hover .priсe, body .coming_soon .grid-container .grid_hover .priсe, body .featured .grid-container .grid_hover .priсe {
  width: 53px;
  height: 37px;
  background-color: #48689a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;
}
body .assistent {
  margin: 70px 0;
  width: 100%;
  height: 600px;
  background-color: #f1edee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
}
body .assistent .carousel-inner .carousel-item h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  body .assistent .carousel-inner .carousel-item h2 {
    font-size: 25px;
  }
}
body .assistent .carousel-inner .carousel-item h2 span {
  color: #48689a;
}
body .assistent .carousel-inner .carousel-item p {
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  body .assistent .carousel-inner .carousel-item p {
    font-size: 10px;
  }
}
body .assistent .carousel-control-prev:hover .carusel_arrow span {
  width: 14px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  transition: 0.3s;
}
body .assistent .carousel-control-prev:hover .carusel_arrow span:first-child {
  transform: rotate(-45deg);
  top: 9px;
  left: 6px;
}
body .assistent .carousel-control-prev:hover .carusel_arrow span:nth-child(2) {
  width: 16px;
  top: 13px;
  left: 9px;
  opacity: 1;
  transition: 0.3s;
}
body .assistent .carousel-control-prev:hover .carusel_arrow span:last-child {
  transform: rotate(45deg);
  bottom: 9px;
  left: 6px;
}
body .assistent .carousel-control-prev .carusel_arrow {
  width: 30px;
  height: 30px;
  background-color: #48689a;
  position: relative;
  transition: 0.3s;
}
body .assistent .carousel-control-prev .carusel_arrow:hover span {
  width: 14px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  transition: 0.3s;
}
body .assistent .carousel-control-prev .carusel_arrow:hover span:first-child {
  transform: rotate(-45deg);
  top: 9px;
  left: 6px;
}
body .assistent .carousel-control-prev .carusel_arrow:hover span:nth-child(2) {
  width: 16px;
  top: 13px;
  left: 9px;
  opacity: 1;
  transition: 0.3s;
}
body .assistent .carousel-control-prev .carusel_arrow:hover span:last-child {
  transform: rotate(45deg);
  bottom: 9px;
  left: 6px;
}
body .assistent .carousel-control-prev .carusel_arrow span {
  width: 17px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  transition: 0.3s;
}
body .assistent .carousel-control-prev .carusel_arrow span:first-child {
  transform: rotate(-45deg);
  top: 8px;
  left: 6px;
}
body .assistent .carousel-control-prev .carusel_arrow span:nth-child(2) {
  top: 13px;
  left: 9px;
  opacity: 0;
  transition: 0.3s;
}
body .assistent .carousel-control-prev .carusel_arrow span:last-child {
  transform: rotate(45deg);
  bottom: 8px;
  left: 6px;
}
body .assistent .carousel-control-next:hover .carusel_arrow span {
  width: 14px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  transition: 0.3s;
}
body .assistent .carousel-control-next:hover .carusel_arrow span:first-child {
  transform: rotate(45deg);
  top: 9px;
  left: 11px;
}
body .assistent .carousel-control-next:hover .carusel_arrow span:nth-child(2) {
  width: 16px;
  top: 13px;
  left: 6px;
  opacity: 1;
  transition: 0.3s;
}
body .assistent .carousel-control-next:hover .carusel_arrow span:last-child {
  transform: rotate(-45deg);
  bottom: 9px;
  left: 11px;
}
body .assistent .carousel-control-next .carusel_arrow {
  width: 30px;
  height: 30px;
  background-color: #48689a;
  position: relative;
  transition: 0.3s;
}
body .assistent .carousel-control-next .carusel_arrow span {
  width: 17px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  transition: 0.3s;
}
body .assistent .carousel-control-next .carusel_arrow span:first-child {
  transform: rotate(45deg);
  top: 8px;
  left: 8px;
}
body .assistent .carousel-control-next .carusel_arrow span:nth-child(2) {
  top: 13px;
  left: 6px;
  opacity: 0;
  transition: 0.3s;
}
body .assistent .carousel-control-next .carusel_arrow span:last-child {
  transform: rotate(-45deg);
  bottom: 8px;
  left: 8px;
}
@media screen and (max-width: 1200px) {
  body .assistent .carousel-control-prev, body .assistent .carousel-control-next {
    display: none;
  }
}
body .featured .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
@media screen and (max-width: 998px) {
  body .featured .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  body .featured .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
body .coming_soon .mens_collection {
  width: 550px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #f2f1ed;
}
body .coming_soon .mens_collection .mens_collection_hover {
  width: 100%;
  height: 100%;
  background-color: #faf9f8;
  border: 20px solid #f2f1ed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
}
body .coming_soon .mens_collection .mens_collection_hover:hover {
  opacity: 1;
  transition: 0.3s;
}
body .coming_soon .mens_collection .mens_collection_hover h5 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
body .coming_soon .mens_collection .mens_collection_hover p {
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
body .latest_news h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
body .latest_news p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
body .latest_news .social_links {
  font-size: 14px;
}
body .latest_news .data {
  width: 44px;
  height: 44px;
  background-color: #48689a;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: -25px;
  left: -10px;
}
body .latest_news .data:before {
  content: "";
  width: 44px;
  height: 44px;
  border: 2px solid #48689a;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
}
body .latest_news a {
  font-size: 14px;
  color: #15232d;
  text-decoration: none;
  transition: 0.3s;
}
body .latest_news a:hover {
  color: #48689a;
  transition: 0.3s;
}
body .top_categories .top_categories_product {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
body .top_categories h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
body .top_categories h6 {
  font-size: 14px;
  font-weight: 500;
}
body .top_categories p {
  font-size: 14px;
  color: #48689a;
  font-weight: 500;
  margin: 8px 0;
}
body .top_categories .product_hover {
  position: absolute;
  left: 86px;
  bottom: 24px;
  opacity: 0;
  transition: 0.3s;
}
body .top_categories .product_hover:hover {
  opacity: 1;
  transition: 0.3s;
}
body .newsletter .newsletter_pictures {
  max-width: 557px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #f1edee;
  padding: 10px;
}
body .newsletter .newsletter_pictures .newsletter_pictures_content {
  width: 100%;
  height: 100%;
  border: 5px solid #ffffff;
}
body .newsletter h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
body .newsletter p {
  font-size: 14px;
  margin: 15px 0 25px;
  text-align: center;
}
body .newsletter form {
  position: relative;
}
body .newsletter form input {
  width: 350px;
  padding: 10px;
  font-size: 12px;
  outline: none;
}
@media screen and (max-width: 576px) {
  body .newsletter form input {
    width: 280px;
  }
}
body .newsletter form .arrow {
  position: absolute;
  top: 20px;
  right: 40px;
}
body .newsletter form .arrow span {
  width: 25px;
  height: 2px;
  background-color: #15232d;
  display: block;
  position: absolute;
}
body .newsletter form .arrow span:first-child {
  width: 10px;
  transform: rotate(45deg);
  top: -4px;
  left: 15px;
}
body .newsletter form .arrow span:last-child {
  width: 10px;
  transform: rotate(-45deg);
  top: 4px;
  left: 15px;
}
body footer {
  font-family: "Roboto Slab", serif;
  padding: 50px 0 0 0;
}
body footer h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #48689a;
}
body footer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
body footer h5 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
}
body footer ul {
  list-style: none;
  padding: 0;
}
body footer ul a {
  font-size: 14px;
  color: #15232d;
  font-weight: 300;
  text-decoration: none !important;
  transition: 0.3s;
}
body footer ul a:hover {
  color: #00cdc6;
  transition: 0.3s;
}
body footer .payment_methods {
  padding: 20px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
body footer .social_links {
  width: 350px;
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 25px 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  body footer .social_links {
    width: auto;
  }
}
body footer .social_links a {
  font-size: 20px;
  color: #15232d;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.3s;
}
body footer .social_links a:hover {
  color: #48689a;
  transition: 0.3s;
}
body .copyright {
  width: 100%;
  height: 40px;
  background-color: #48689a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
body .copyright p {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
}
body .copyright p span {
  text-transform: uppercase;
}

.error_header {
  height: 100vh;
  font-family: "Roboto Slab", serif;
}
.error_header .title_error_page {
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 998px) {
  .error_header .title_error_page {
    height: calc(100vh - 184px);
  }
}
@media screen and (max-width: 768px) {
  .error_header .title_error_page > img {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .error_header .title_error_page > img {
    width: 60%;
  }
}
.error_header .title_error_page .back_to_home {
  width: 400px;
  height: 70px;
  background-color: transparent;
  border: 2px solid #3c4852;
  outline: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #3c4852;
  text-decoration: none;
  margin-top: 90px;
  transition: 0.3s;
}
.error_header .title_error_page .back_to_home:hover {
  color: #ffffff;
  background-color: #48689a;
  border-color: #48689a;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .error_header .title_error_page .back_to_home {
    width: 60%;
  }
}
.error_header .title_error_page .find_us {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 105px;
}
.error_header .title_error_page .find_us a {
  color: #3c4852;
}

.product_gallery h5, .blog_list h5 {
  font-size: 24px;
  color: #9aa6b9;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.product_gallery h2, .blog_list h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.product_gallery h4, .blog_list h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1edee;
}
.product_gallery ul, .blog_list ul {
  list-style: none;
  padding: 0;
}
.product_gallery ul li, .blog_list ul li {
  border-bottom: 1px solid #f1edee;
  padding: 15px 0;
}
.product_gallery ul li:last-child, .blog_list ul li:last-child {
  border: none;
}
.product_gallery ul li a, .blog_list ul li a {
  color: #15232d;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product_gallery ul li a:hover, .blog_list ul li a:hover {
  color: #48689a;
}
.product_gallery button, .blog_list button {
  width: 90px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  outline: none !important;
  border: 1px solid #15232d;
  transition: 0.3s;
}
.product_gallery button:hover, .blog_list button:hover {
  color: #ffffff;
  background-color: #48689a;
  border-color: #48689a;
  transition: 0.3s;
}
.product_gallery .form-check, .blog_list .form-check {
  padding: 15px 0;
  border-bottom: 1px solid #f1edee;
}
.product_gallery .form-check:last-child, .blog_list .form-check:last-child {
  border: none;
}
.product_gallery .form-check:hover, .blog_list .form-check:hover {
  color: #48689a;
}
.product_gallery .best_sale .denim, .blog_list .best_sale .denim {
  border-bottom: 1px solid #f1edee;
  padding: 20px 0;
}
.product_gallery .best_sale p, .blog_list .best_sale p {
  font-size: 14px;
  margin-bottom: 5px;
}
.product_gallery .best_sale span, .blog_list .best_sale span {
  font-size: 12px;
  margin-top: 10px;
}
.product_gallery .keyword button, .blog_list .keyword button {
  border: none;
  width: 70px;
  margin: 10px 0;
}
.product_gallery .filter, .blog_list .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #f1edee;
}
.product_gallery .filter .filter_button, .blog_list .filter .filter_button {
  color: #9aa6b9;
  margin-right: 10px;
}
.product_gallery .filter .filter_button:hover, .blog_list .filter .filter_button:hover {
  color: #48689a;
}
.product_gallery .filter ul li, .blog_list .filter ul li {
  border-bottom: none;
}
.product_gallery .filter ul li:first-child div, .blog_list .filter ul li:first-child div {
  background-color: #f44336;
}
.product_gallery .filter ul li:nth-child(2) div, .blog_list .filter ul li:nth-child(2) div {
  background-color: #4caf50;
}
.product_gallery .filter ul li:nth-child(3) div, .blog_list .filter ul li:nth-child(3) div {
  background-color: #2196f3;
}
.product_gallery .filter ul li:nth-child(4) div, .blog_list .filter ul li:nth-child(4) div {
  background-color: #3f51b5;
}
.product_gallery .filter ul li:nth-child(5) div, .blog_list .filter ul li:nth-child(5) div {
  background-color: #ffeb3b;
}
.product_gallery .filter ul li:nth-child(6) div, .blog_list .filter ul li:nth-child(6) div {
  background-color: #ff5722;
}
.product_gallery .filter ul li:last-child div, .blog_list .filter ul li:last-child div {
  background-color: #48689a;
}
.product_gallery .filter ul li div, .blog_list .filter ul li div {
  width: 14px;
  height: 12px;
  margin: 0 5px;
}
.product_gallery .filter span, .blog_list .filter span {
  font-size: 14px;
}
.product_gallery .filter .nav-link, .blog_list .filter .nav-link {
  color: #15232d;
  font-size: 14px;
}
.product_gallery .filter .dropdown-menu, .blog_list .filter .dropdown-menu {
  min-width: auto;
}
.product_gallery .filter .dropdown-menu .dropdown-item:hover, .blog_list .filter .dropdown-menu .dropdown-item:hover {
  background-color: #00cdc6;
}
.product_gallery .featured .grid-container, .blog_list .featured .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "one two three" " four five six" " seven eight nine" "ten eleven tvelve";
  grid-gap: 10px;
}
@media screen and (max-width: 998px) {
  .product_gallery .featured .grid-container, .blog_list .featured .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "one two" "three four" "five six" " seven eight" "nine ten" "eleven tvelve";
  }
}
@media screen and (max-width: 576px) {
  .product_gallery .featured .grid-container, .blog_list .featured .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "one" "two" "three" "four" "five" "six" " seven" "eight" "nine" "ten" "eleven" "tvelve";
  }
}

.pagination {
  border: none;
}
.pagination .page-item {
  border: none;
}
.pagination .page-item .page-link {
  border: none;
}
.pagination .shop_list_content {
  font-size: 14px;
}
.pagination .shop_list_content h6 {
  text-transform: uppercase;
}
.pagination .shop_list_content span {
  color: #48689a;
  font-size: 18px;
}

.blog_list form {
  width: 100%;
  position: relative;
}
.blog_list form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid #f1edee;
  padding: 10px 20px;
}
.blog_list form button {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  border-color: transparent;
}
.blog_list .counter {
  font-size: 12px;
  color: #a3a3a4;
}
.blog_list .data_blog_list {
  position: relative;
}
.blog_list .data_blog_list p {
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
